<ul>
    <li>
        <a class="active" href="{{site.baseurl}}/">Home</a>
    </li>
    <li>
        <a id="inst-link" href="{{site.baseurl}}/instructions/">Instructions</a>
    </li>
</ul>

<!--
    $grey: #54494B;
    $white: #f1f7ed;
    $blue: #91c7b1;
    $red: #b33951;
    $yellow: #e3d081;
-->

<style>


ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 5px;
    border-radius: 25px;
    transition: width .2s, height, .2s;
}

li
{
    float: left;
    border-right:1px solid #b33951;
    transition: width .2s, height, .2s;
}

li:last-child
{
    border-right: none;
}

li a
{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #f1f7ed;
    padding: 14px 16px;
    transition: width .2s, height, .2s;
    }

li a:hover:not(.active)
{
    background-color: rgba(17, 17, 17, 0.433);
}

.active
{
    background-color: #91c7b1;
}

</style>





