body {
    margin: 50px;
    font-family: avenir;
  }
  
  svg {
    width: 300px;
    height: 300px;
  }
  
  #text {
    background: aliceblue;
    height: 200px;
    min-width: 700px;
    padding: 50px;
  }
  
  section {
    display: flex;
  }
  
   #head, #arm-l, #arm-r, #leg-l, #leg-r, #torso{
    display: none;
  }
   
  #letters {
    font-size: 50px;
  }
  
  #prompt {
    font-size: 25px;
    margin-top: 50px;
  }